<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RestaurApp</title>
    <link rel="stylesheet" href="/stylesheets/index/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
<header>
    <h1>Restaur<span>App</span></h1>
    <h2>Wyszukaj restaurację swoich marzeń!</h2>
    <p>Wpisz miasto lub ulicę restauracji której szukasz</p>
    <form class="search">
        <input type="text" name="name" placeholder="Np. Długa, Kraków">
        <input type="submit" value="Szukaj">
    </form>
    <!-- <p>Mamy już <span>100</span> restauracji z całej Polski!</p> -->
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li id="login"><a href="#login">Zaloguj</a></li>
        <li id="join"><a href="#join">Dołącz do nas</a></li>
        <li><a href="#about">O nas</a></li>
        <li><a href="#contact">Kontakt</a></li>
    </ul>
</nav>
<a class="anchor" id="login"></a>
<section id="log-register">
    <div class="log-buttons">
        <div class="button btn-log">
            <h2 class="selected">Zaloguj się</h2>
        </div>
        <div class="line"></div>
        <div class="button btn-reg">
            <h2 >Dołącz do nas</h2>
        </div>
    </div>
    <%- messages('messages', locals) %>
    <div class="log-register-forms">
        <div class="container log-container">
            <form class="login" action="/login" method="post">
                <label for="email"></label>
                <input name="email" type="email" placeholder="Email" required>
                <input name="passwd" type="password" placeholder="Hasło" required>
                <input type="submit" value="Zaloguj">
            </form>
        </div>
        <div class="container reg-container">
            <form class="register" action="/register" method="post">
                <input type="text" name="name" placeholder="Imię">
                <input type="text" name="surname" placeholder="Nazwisko">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="login" placeholder="Login">
                <input type="password" name="password" placeholder="Hasło">
                <input type="password" name="password-confirm" placeholder="Powtórz hasło">
                <input type="submit" value="Zarejestruj">
            </form>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="module" src="/javascripts/index/main.js"></script>
</body>

</html>