<nav id="top-nav">
    <ul class="top-list">
        <li>
            <div id="nav-button" class="icon"><i class="fas fa-bars"></i></div>
            <form id="search-restaurants">
                <div class="typeahead__container">
                    <div class="typeahead__field">
                        <div class="typeahead__query">
                            <input class="js-typeahead"
                                   name="q"
                                   type="search"
                                   autocomplete="off">
                        </div>
                        <div class="typeahead__button">
                            <button type="submit">
                                <span class="typeahead__search-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
        <li>
            <%if(authenticated) {%>
                <%- include('part_profile_menu', {userName: userName}) %>
            <% } else {%>
                <p>Zaloguj</p>
            <% } %>
        </li>
    </ul>
</nav>