<div id="profile">
    <div class="profile-container">
        <span class="profile-pic"><i class="fas fa-user-circle"></i></span>
        <p id="user-name"><%= userName %></p>
    </div>
    <span><i class="fas fa-caret-down"></i></span>
    <ul class="hidden">
        <li>Ulubione <span><i class="fas fa-heart"></i></span></li>
        <li>Ustawienia konta <span><i class="fas fa-cog"></i></span></li>
        <li>Wyloguj <span><i class="fas fa-sign-out-alt"></i></span></li>
    </ul>
</div>