<nav id="top-nav">
    <ul>
        <li>
            <div id="nav-button" class="icon"><i class="fas fa-bars"></i></div>
            <form id="search-restaurants" action="">
                <input type="text">
                <input type="submit">
            </form>
        </li>
        <li>
            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
            <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
        </li>
    </ul>
</nav>