<nav class="side-nav">
    <div class="nav-container">
        <div class="container-head">
            <h3>Kategorie dań</h3>
        </div>
        <ul class="container-body">
            <% let i = 1 %>
            <% for(category in food) { %>
                <li class="container-elem">
                    <a href="#<%= i++; %>"><%= category %></a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>