<!DOCTYPE html>
<html lang="pl">

<head>
    <% include part_head.ejs %>

    <link rel="stylesheet" href="/stylesheets/restaurants/restaurants.css">
    <title>Document</title>
</head>

<body>
<nav id="top-nav">
    <ul>
        <li>
            <div id="nav-button" class="icon"><i class="fas fa-bars"></i></div>
            <form id="search-restaurants">
                <input type="text">
                <input type="submit">
            </form>
        </li>
        <li>
            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
            <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
        </li>
    </ul>
</nav>
<section id="main-content">
    <nav class="side-nav">
        <button class="reset" value="">Reset Filtrów</button>
        <div class="nav-container kitchen">
            <div class="container-head">
                <h3>Kuchnia</h3>
            </div>
            <ul class="container-body">
                <% for(item of kitchen) { %>
                    <li class="container-elem"><%= item.Nazwa %></li>
                <% } %>
            </ul>
        </div>
        <div class="nav-container rating">
            <div class="container-head">
                <h3>Ocena</h3>
            </div>
            <div class="container-body">
                <div class="container-elem">
                    <div class="ratings">
                        <div class="empty-stars">
                            <i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i>
                        </div>
                        <div class="full-stars"> <!-- .selected -->
                            <i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i>
                        </div>
                        <div class="full-stars onhover">
                            <i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-container price-tags">
            <div class="container-head">
                <h3>Średni koszt</h3>
            </div>
            <ul class="container-body">
                <li class="icon cheap"><span><i class="fas fa-coins"></i></span>
                    <p>Tania</p></li>
                <li class="icon average"><span><i class="fas fa-money-bill-wave"></i></span>
                    <p>Średnia</p></li>
                <li class="icon expensive"><span><i class="fas fa-wallet"></i></span>
                    <p>Droga</p></li>
            </ul>
        </div>
    </nav>
    <article class="restaurant-list">

        <% if(restaurants.length > 0) { %>
            <table class="restaurants">
                <tr class="head">
                    <th></th>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Ocena</th>
                </tr>
                <% for(item of restaurants) { %>
                    <tr id="<%= item.Id_Restaruacja %>">
                        <td class="rest-image">
                            <div class="img">

                            </div>
                        </td>
                        <td class="rest-name">
                            <p class="restaurant-name"><%= item.Nazwa %></p>
                        </td>
                        <td class="price-tag">
                            <div class="price">
                                <% if(item.Srednia_Cen == 'cheap') { %>
                                    <span>
                                        <i class="fas fa-coins"></i>
                                    </span>
                                    <p>Tania</p>
                                <% } else if(item.Srednia_Cen == 'average'){ %>
                                    <span>
                                        <i class="fas fa-money-bill-wave"></i>
                                    </span>
                                    <p>Średnia</p>
                                <% } else { %>
                                    <span>
                                         <i class="fas fa-wallet"></i>
                                    </span>
                                    <p>Droga</p>
                                <% } %>
                            </div>
                        </td>
                        <td class="rest-rating">
                            <div class="ratings">
                                <div class="empty-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="full-stars" style="width: <%= (item.Srednia_Ocen / 5) * 100 %>%">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </td>

                    </tr>

                <% } %>
            </table>
        <% } else { %>
            <h1>Nie znaleziono danej restauracji!</h1>
        <% } %>

    </article>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="module" src="/javascripts/restaurants/main.js"></script>
</body>

</html>