<nav id="top-nav">
    <ul>
        <li>
            <form id="search-restaurants">
                <div class="typeahead__container">
                    <div class="typeahead__field">
                        <div class="typeahead__query">
                            <input class="js-typeahead"
                                   name="q"
                                   type="search"
                                   autocomplete="off">
                        </div>
                        <div class="typeahead__button">
                            <button type="submit">
                                <span class="typeahead__search-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
        <li class="profile-container">
            <div id="profile">
                <div class="profile-pic"><i class="fas fa-user-circle"></i></div>
                <p class="profile-name">Nazwa użytkownika</p>
            </div>
        </li>
        <li>
            <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
        </li>
    </ul>
</nav>