@import "../mixins";
@import "../variables";

body {
  margin: 0;
  background-color: $greyBgColor;
  font-family: "Lato", sans-serif;
  pointer-events: auto;
}

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.5);
  z-index: 1;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 50px;

    li {
      display: flex;
      align-items: center;

      .icon {
        @include font-icon(30px, rgba(0, 0, 0, 0.3), #000);
      }

      form {
        margin-left: 100px;
        display: flex;
        align-items: center;

        input {
          &[type="text"] {
            height: 30px;
            font-size: 1.1rem;
            padding: 2px;
            width: 300px;
            margin-right: 10px;
          }

          &[type="submit"] {
            @include button(70px, 30px, $redColor);
            font-size: 15px;
            padding: 2px;
            // height: 30px;
          }
        }
      }

      &:last-child {
        .icon {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

#main-content {
  margin-top: 72px;
  height: 100%;

  .side-nav {
    width: 25%;
    height: calc(100% - 122px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 72px;
    left: 0;
    padding-top: 50px;
    margin-left: 0;

    .reset {
      @include button(150px, 50px, $redColor);
      font-size: 1.2em;
      padding: 0;
      margin-bottom: 0;
      border-radius: 10px;
    }

    .nav-container {
      width: 60%;
      margin-bottom: 50px;

      .container-head {
        color: white;
        font-size: 1.3em;
        background-color: $redColor;
        border-radius: 10px;
        padding: 5px 10px;
        box-sizing: border-box;

        h3 {
          margin: 0;
        }
      }

      .container-body {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin: 0;

        .container-elem {
          width: 90%;
          padding: 5px;
          border-radius: 10px;
          border-bottom: none;
          background-color: #fff;
          margin: 5px auto;
        }
      }
    }
  }

  .restaurant-details {
    margin-left: 25%;
    padding: 0 50px 50px;
    .nav-menu {
      list-style-type: none;
      height: 50px;
      margin: 0;
      padding: 0;
      li {
        float: left;
        margin-left: 20px;
        height: 100%;
        padding: 0 10px;
        position: relative;
        &.back {
          float: right;
        }
        a {
          font-size: 1.3em;
          text-decoration: none;
          height: 100%;
          line-height: 48px;
          color: black;
        }
        &:hover a{
          color: $redColor;
        }
        &.selected a {
          color: $redColor;
        }
        &.selected::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          width: 100%;
          border-bottom: 3px solid $redColor;
        }
      }
    }
    table.restaurant-menu {
      width: 100%;
      border-spacing: 0 5px;
      tr {
        th {
          background-color: $greyColor;
          position: relative;
          a {
            position: absolute;
            top: -72px;
          }
        }
        td {
          background-color: #fff;
          padding: 20px;
          border: 1px solid $greyColor;
          h3 {
            margin-top: 0;
          }
          p.ingredients {
            font-style: italic;
          }
          p.price {
            color: $redColor;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  font-size: 1.7em;

  .full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: $goldColor;
    width: 0; /* Parametr 'width' do zmiany w zależności od ocen */
    &.onhover {
      color: rgba(255, 217, 0, 0.8);
    }
  }

  .empty-stars {
    color: #8b8a8a;
  }
}