body {
  margin: 0;
  background-color: #F8F5F2;
  font-family: "Lato", sans-serif;
  pointer-events: auto; }

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.5);
  z-index: 1; }
  #top-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 50px; }
    #top-nav ul li {
      display: flex;
      align-items: center; }
      #top-nav ul li .icon {
        display: inline-block;
        font-size: 30px;
        line-height: 40px;
        color: #000;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: bottom;
        border-radius: 50%;
        transition: background-color 0.4s; }
        #top-nav ul li .icon:hover {
          background-color: rgba(0, 0, 0, 0.3); }
      #top-nav ul li form {
        margin-left: 100px;
        display: flex;
        align-items: center; }
        #top-nav ul li form input[type="text"] {
          height: 30px;
          font-size: 1.1rem;
          padding: 2px;
          width: 300px;
          margin-right: 10px; }
        #top-nav ul li form input[type="submit"] {
          width: 70px;
          height: 30px;
          background-color: #d9534f;
          color: #fff;
          border: none;
          transition: background-color, 0.4s;
          font-size: 15px;
          padding: 2px; }
          #top-nav ul li form input[type="submit"]:hover {
            background-color: #a02622; }
      #top-nav ul li:last-child .icon {
        margin-right: 10px; }
        #top-nav ul li:last-child .icon:last-child {
          margin-right: 0; }

#main-content {
  margin-top: 72px;
  height: 100%; }
  #main-content .side-nav {
    width: 25%;
    height: calc(100% - 122px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 72px;
    left: 0;
    padding-top: 50px;
    margin-left: 0; }
    #main-content .side-nav .nav-container {
      width: 60%;
      margin-bottom: 50px; }
      #main-content .side-nav .nav-container .container-head {
        color: white;
        font-size: 1.3em;
        background-color: #d9534f;
        border-radius: 10px;
        padding: 5px 10px;
        box-sizing: border-box; }
        #main-content .side-nav .nav-container .container-head h3 {
          margin: 0; }
      #main-content .side-nav .nav-container .container-body {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin: 0; }
        #main-content .side-nav .nav-container .container-body .container-elem {
          width: 90%;
          padding: 5px;
          border-radius: 10px;
          border-bottom: none;
          background-color: #fff;
          margin: 5px auto; }
  #main-content .restaurant-details {
    margin-left: 25%;
    padding: 0 50px 50px; }
    #main-content .restaurant-details .nav-menu {
      list-style-type: none;
      height: 50px;
      margin: 0;
      padding: 0; }
      #main-content .restaurant-details .nav-menu li {
        float: left;
        margin-left: 20px;
        height: 100%;
        padding: 0 10px;
        position: relative; }
        #main-content .restaurant-details .nav-menu li.back {
          float: right; }
        #main-content .restaurant-details .nav-menu li a {
          font-size: 1.3em;
          text-decoration: none;
          height: 100%;
          line-height: 48px;
          color: black; }
        #main-content .restaurant-details .nav-menu li:hover a {
          color: #d9534f; }
        #main-content .restaurant-details .nav-menu li.selected a {
          color: #d9534f; }
        #main-content .restaurant-details .nav-menu li.selected::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          width: 100%;
          border-bottom: 3px solid #d9534f; }

.comment {
  width: 80%;
  border: 2px solid black;
  position: relative;
  margin-left: 50px;
  min-height: 80px;
  display: flex;
  border-radius: 7px; }

.arrow, .cover {
  background-color: #fff;
  position: absolute;
  top: 40px; }

.arrow {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  left: -8px;
  transform: translate(0, -50%) rotate(45deg); }

.cover {
  height: 50px;
  width: 40px;
  transform: translate(0, -50%);
  z-index: 0; }

p {
  width: 100%;
  z-index: 1;
  padding: 10px;
  margin: 0; }

/*# sourceMappingURL=rest-comments.css.map */