@import "../mixins";
@import "../variables";
@import "rest-base";
@import "../../../node_modules/jquery-typeahead/src/jquery.typeahead.scss";

table.restaurant-menu {
  width: 100%;
  border-spacing: 0 5px;
  tr {
    th {
      background-color: $greyColor;
      position: relative;
      a {
        position: absolute;
        top: -72px;
      }
    }
    td {
      background-color: #fff;
      padding: 20px;
      border: 1px solid $greyColor;
      h3 {
        margin-top: 0;
      }
      p.ingredients {
        font-style: italic;
      }
      p.price {
        color: $redColor;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}
