@import "../mixins";
@import "../variables";

body {
  margin: 0;
  background-color: $greyBgColor;
  font-family: "Lato", sans-serif;
}

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.5);
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 50px;
    li {
      display: flex;
      align-items: center;
      .icon {
        @include font-icon(30px, rgba(0, 0, 0, 0.3), #000);
      }
      form {
        margin-left: 100px;
        display: flex;
        align-items: center;
        input {
          &[type="text"] {
            height: 30px;
            font-size: 1.1rem;
            padding: 2px;
            width: 300px;
            margin-right: 10px;
          }
          &[type="submit"] {
            @include button(70px, 30px, $redColor);
            font-size: 15px;
            padding: 2px;
            // height: 30px;
          }
        }
      }
      &:last-child {
        .icon {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

#main-content {
  width: 100%;
  margin-top: 72px;
  // display: flex;
  .side-nav {
    width: 25%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 72px;
    left: 0;
    padding-top: 100px;
    margin-left: 0;

    .food-styles {
      width: 60%;

      .container-head {
        color: white;
        font-size: 1.5em;
        background-color: $redColor;
        border-radius: 10px;
        padding: 5px 10px;
        box-sizing: border-box;

        h3 {
          margin: 0;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin: 0;

        li {
          padding: 5px;
          border-radius: 10px;
          border-bottom: none;
          background-color: #fff;
          margin: 5px 0;
        }
      }
    }

    .star-rating {
      .icon {
        @include font-icon(30px, #8b8a8a, $goldColor);
      }
    }
  }

  .restaurant-details {
    margin-left: 25%;
    padding: 50px;
  }

  .ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    font-size: 1.7em;

    .full-stars {
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;
      overflow: hidden;
      color: $goldColor;
      width: 68%; /* Parametr do zmiany w zależności od ocen */
    }
    .empty-stars {
      color: #8b8a8a;
    }
  }
}