@import "../mixins";
@import "../variables";

body {
  margin: 0;
  background-color: $greyBgColor;
  font-family: "Lato", sans-serif;
  pointer-events: auto;
}

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.5);

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 50px;

    li {
      display: flex;
      align-items: center;

      .icon {
        @include font-icon(30px, rgba(0, 0, 0, 0.3), #000);
      }

      form {
        margin-left: 100px;
        display: flex;
        align-items: center;

        input {
          &[type="text"] {
            height: 30px;
            font-size: 1.1rem;
            padding: 2px;
            width: 300px;
            margin-right: 10px;
          }

          &[type="submit"] {
            @include button(70px, 30px, $redColor);
            font-size: 15px;
            padding: 2px;
            // height: 30px;
          }
        }
      }

      &:last-child {
        .icon {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

#main-content {
  margin-top: 72px;
  height: 100%;

  .side-nav {
    width: 25%;
    height: calc(100% - 172px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 72px;
    left: 0;
    padding-top: 100px;
    margin-left: 0;

    .reset {
      @include button(150px, 50px, $redColor);
      font-size: 1.2em;
      //padding: 10px 0 32px;
      //margin-bottom: 50px;
      padding: 0;
      margin-bottom: 0;
      border-radius: 10px;
    }

    .nav-container {
      width: 60%;
      margin-bottom: 50px;

      .container-head {
        color: white;
        font-size: 1.5em;
        background-color: $redColor;
        border-radius: 10px;
        padding: 5px 10px;
        box-sizing: border-box;

        h3 {
          margin: 0;
        }
      }

      .container-body {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin: 0;

        .container-elem {
          width: 90%;
          padding: 5px;
          border-radius: 10px;
          border-bottom: none;
          background-color: #fff;
          margin: 5px auto;
        }
      }

      &.kitchen {
        .container-elem {
          transition: all .2s;
          color: blue;
          cursor: pointer;

          &:hover:not(.selected) {
            background-color: #a0a09f;
            //color: white;
          }

          &.selected {
            background-color: $lightRedColor;
            color: #fff;
          }
        }
      }
    }

    /*.star-rating {
      .icon {
        @include font-icon(25px, #8b8a8a, #8b8a8a);
      }
    }*/

    .price-tags {

      .icon {
        margin: 10px 13px;
        @include font-with-subtitle(2em);
        color: #8b8a8a;

        p {
          font-size: 0.9em;
          color: #8b8a8a;
        }

        cursor: pointer;
      }

      li {
        &:hover {
          color: #494949;
        }

        &.cheap.selected {
          color: $goldColor;
        }

        &.average.selected {
          color: darkgreen;
        }

        &.expensive.selected {
          color: brown;
        }
      }
    }

    .empty-stars i, .full-stars i {
      padding: 0 2px;
      cursor: pointer;
    }
  }

  .restaurant-list {
    margin-left: 25%;
    padding: 50px;

    .restaurants {
      width: 100%;
      // border-collapse: collapse;
      border-spacing: 0 5px;

      tr {
        &:not(.head) {
          background-color: #fff;
          transition: background-color 0.4s;
        }

        &:not(.head):hover {
          background-color: #f06146;
        }

        td, th {
          border-bottom: 1px solid #dddddd;
          padding: 10px;
        }

        th {
          text-align: left;
          border-bottom: 1px solid #494949;

          &:first-child {
            width: 20%;
          }
        }

        td {
          height: 110px;

          .img {
            background-image: url("http://webneel.com/sites/default/files/images/manual/logo-restaurant/best-restaurant-logo-design%20(2).gif");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
          }

          p.restaurant-name {
            font-size: 1.2em;
            font-weight: bold;
          }

          .price {
            @include font-with-subtitle(3em);
            color: #8b8a8a;
          }
        }
      }
    }
  }
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  font-size: 1.7em;

  .full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: $goldColor;
    width: 0; /* Parametr 'width' do zmiany w zależności od ocen */
    &.onhover {
      color: rgba(255, 217, 0, 0.8);
    }
  }

  .empty-stars {
    color: #8b8a8a;
  }
}