@charset "UTF-8";
body {
  margin: 0;
  background-color: #F8F5F2;
  font-family: "Lato", sans-serif;
  pointer-events: auto; }

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.5); }
  #top-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 50px; }
    #top-nav ul li {
      display: flex;
      align-items: center; }
      #top-nav ul li .icon {
        display: inline-block;
        font-size: 30px;
        line-height: 40px;
        color: #000;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: bottom;
        border-radius: 50%;
        /*transition: background-color 0.4s;
  &:hover {
    background-color:$bgcolor;
  }*/ }
      #top-nav ul li form {
        margin-left: 100px;
        display: flex;
        align-items: center; }
        #top-nav ul li form input[type="text"] {
          height: 30px;
          font-size: 1.1rem;
          padding: 2px;
          width: 300px;
          margin-right: 10px; }
        #top-nav ul li form input[type="submit"] {
          width: 70px;
          height: 30px;
          background-color: #d9534f;
          color: #fff;
          border: none;
          transition: background-color, 0.4s;
          font-size: 15px;
          padding: 2px; }
          #top-nav ul li form input[type="submit"]:hover {
            background-color: #a02622; }
      #top-nav ul li:last-child .icon {
        margin-right: 10px; }
        #top-nav ul li:last-child .icon:last-child {
          margin-right: 0; }

#main-content {
  margin-top: 72px;
  height: 100%; }
  #main-content .side-nav {
    width: 25%;
    height: calc(100% - 172px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 72px;
    left: 0;
    padding-top: 100px;
    margin-left: 0; }
    #main-content .side-nav .nav-container {
      width: 60%;
      margin-bottom: 50px; }
      #main-content .side-nav .nav-container .container-head {
        color: white;
        font-size: 1.5em;
        background-color: #d9534f;
        border-radius: 10px;
        padding: 5px 10px;
        box-sizing: border-box; }
        #main-content .side-nav .nav-container .container-head h3 {
          margin: 0; }
      #main-content .side-nav .nav-container .container-body {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin: 0; }
        #main-content .side-nav .nav-container .container-body .container-elem {
          width: 90%;
          padding: 5px;
          border-radius: 10px;
          border-bottom: none;
          background-color: #fff;
          margin: 5px auto; }
      #main-content .side-nav .nav-container.kitchen .container-elem {
        transition: all .2s;
        color: blue;
        cursor: pointer; }
        #main-content .side-nav .nav-container.kitchen .container-elem:hover:not(.selected) {
          background-color: #a0a09f; }
        #main-content .side-nav .nav-container.kitchen .container-elem.selected {
          background-color: #d97376;
          color: #fff; }
    #main-content .side-nav .star-rating .icon {
      display: inline-block;
      font-size: 25px;
      line-height: 35px;
      color: #8b8a8a;
      width: 35px;
      height: 35px;
      text-align: center;
      vertical-align: bottom;
      border-radius: 50%;
      /*transition: background-color 0.4s;
  &:hover {
    background-color:$bgcolor;
  }*/ }
    #main-content .side-nav .price-tags .icon {
      margin: 10px 13px;
      display: inline-block;
      text-align: center;
      color: #8b8a8a;
      cursor: pointer; }
      #main-content .side-nav .price-tags .icon span {
        font-size: 2em; }
      #main-content .side-nav .price-tags .icon p {
        margin: 0; }
      #main-content .side-nav .price-tags .icon p {
        font-size: 0.9em;
        color: #8b8a8a; }
    #main-content .side-nav .price-tags li {
      /*.cheap:hover {
          color: $goldColor;
        }

        .average:hover {
          color: darkgreen;
        }

        .expensive:hover {
          color: brown;
        }*/ }
      #main-content .side-nav .price-tags li:hover {
        color: #494949; }
    #main-content .side-nav .empty-stars i, #main-content .side-nav .full-stars i {
      padding: 0 2px;
      cursor: pointer; }
  #main-content .restaurant-list {
    margin-left: 25%;
    padding: 50px; }
    #main-content .restaurant-list .restaurants {
      width: 100%;
      border-spacing: 0 5px; }
      #main-content .restaurant-list .restaurants tr:not(.head) {
        background-color: #fff;
        transition: background-color 0.4s; }
      #main-content .restaurant-list .restaurants tr:not(.head):hover {
        background-color: #f06146; }
      #main-content .restaurant-list .restaurants tr td, #main-content .restaurant-list .restaurants tr th {
        border-bottom: 1px solid #dddddd;
        padding: 10px; }
      #main-content .restaurant-list .restaurants tr th {
        text-align: left;
        border-bottom: 1px solid #494949; }
        #main-content .restaurant-list .restaurants tr th:first-child {
          width: 20%; }
      #main-content .restaurant-list .restaurants tr td {
        height: 110px; }
        #main-content .restaurant-list .restaurants tr td .img {
          background-image: url("http://webneel.com/sites/default/files/images/manual/logo-restaurant/best-restaurant-logo-design%20(2).gif");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
          width: 100%; }
        #main-content .restaurant-list .restaurants tr td p.restaurant-name {
          font-size: 1.2em;
          font-weight: bold; }
        #main-content .restaurant-list .restaurants tr td .price {
          display: inline-block;
          text-align: center;
          color: #8b8a8a; }
          #main-content .restaurant-list .restaurants tr td .price span {
            font-size: 3em; }
          #main-content .restaurant-list .restaurants tr td .price p {
            margin: 0; }

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  font-size: 1.7em; }
  .ratings .full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffd900;
    width: 0;
    /* Parametr 'width' do zmiany w zależności od ocen */ }
  .ratings .empty-stars {
    color: #8b8a8a; }

/*# sourceMappingURL=restaurants.css.map */